<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Form</title>
</head>
<body>
<form th:object="${productForm}" th:action="@{product/products}" method="post" enctype="multipart/form-data">
    <table>
        <input type="hidden" th:field="*{id}">
        <tr>
            <td>Image:</td>
            <td><input type="file" th:field="*{avatar}" multiple/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create product"></td>
        </tr>
    </table>
</form>
<div th:text="${message}"></div>
</body>
</html>