<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form province</title>
</head>
<body>
<div>
    <div><a href="/">Home</a></div>
    <div>
        <a th:href="@{/provinces}">Back list province</a>
    </div>
    <div>
        <form action="#" th:action="@{/province/provinces}" method="post" th:object="${province}">
            <input type="hidden" th:field="*{id}">
            <div>
                <p>Name</p>
                <input type="text" th:field="*{name}">
            </div>
            <div>
              <button type="submit">Add Province</button>
            </div>
        </form>
    </div>
    <div><p th:text="${message}"></p></div>
</div>
</body>
</html>