<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer List</title>
</head>
<body>
<div>
    <div><a th:href="@{/}">Home</a></div>
    <div><a th:href="@{/customer-form}">Add customer</a></div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PASSWORD</th>
                <th>PROVINCE</th>
                <th>ROLE</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.username}"></td>
                <td th:text="${customer.password}"></td>
                <td th:text="${customer.province.name}"></td>
                <td th:text="${customer.getRole().getAuthority()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>